@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
}
* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}
body { 
  font: normal .8em arial, sans-serif;
  
  color: #555;
  padding: 10px;
  
  font-size: 12px;
  line-height: 15px;
}
h1 {
  
  letter-spacing: 0.5px;
  font-size: 25px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  
  font-size: 20px;
  line-height: 23px;
  margin: 0;
}
.container {
  position: relative;
  
  border-radius: 15px;
  padding: 20px;
  border: initial;
  overflow: overlay;
}
nav {
  margin: 10px 0 0;
  background-color: #53C7FD;
}
nav .nav-item .nav-link {
  color: #fff;
  font-size: 11px;
  line-height: 23px;
  
}

.logo {
    display: none;
 }

@media (min-width: 992px) {
  .logo {
    display: block;
  }

  

}

.dropdown-menu {
  background-color: #53C7FD;
  border: none;
  border-radius: 0;
  color: #fff;
}
.dropdown-menu .dropdown-item {
  color: #fff;
}
.dropdown-menu .dropdown-item:hover {
  
  background-color: #53C7FD;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav li.nav-item a {
  margin-right: 4px;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.main {
  padding: 20px 0 0;
}
.imgBorder {
  border: 1px solid #ccc;
  max-width: 235px;
  width: 100%;
  margin-bottom: 15px;
}
article {
  padding: 0 15px;
}
.articleList {
  padding-left: 30px;
}
.articleList li {
  padding-left: 5px;
}
.asidesContainer aside {
  background-color: #F5FEFF;
  border: 1px solid #C9E5E9;
  border-radius: 15px;
  padding: 15px;
  margin: 0 0 20px ;
}
.asidesContainer aside .content {
  padding: 10px 0 0;
}
.asidesContainer aside .content a {
  
  margin: 10px 0 0;
}
.imgContent {
  margin-bottom: 20px;
}
article.noticia {
  background-color: #F5FEFF ;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #C9E5E9;
  margin: 0 0 20px;
}
.table-striped>thead {
  background-color: #E5017D;
  color: #fff;
}
thead th.headertable {
  background-color: #53C7FD;
  font-size: 20px;
  line-height: 23px;
  border-bottom: 5px solid #fff;
}
.table>:not(:first-child) {
  border: none;
}
.table>:not(caption)>*>* {
  border: none;
  padding: 5px;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #F5FEFF;
}
.perro {
  max-width: 100px;
}
form {
  margin: 10px 0 20px;
}
.btn-primary {
  background-color: #E5017D;
  border-color: #E5017D;
}
footer {
  padding: 30px 0;
  border-radius: 0 0 10px 10px;
  background-color: #53C7FD;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer p {
  margin: 10px 0 0;
}
@media (min-width: 992px) {
  .container  {
      max-width: 850px;
  }
  nav .nav-item {
    margin-right: 25px;
  }
  .imgBorder {
    border: 1px solid #ccc;
    max-width: 100%;
  }
}


.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  
    background: -moz-linear-gradient(#7c6f64) !important;
    background: -webkit-linear-gradient(left,black  0%,black 100%) !important;
    background: linear-gradient(to right,black  0%,black  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}



.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 3px 0;
  border-spacing: 3cm ;
  border-color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}  


.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #f3f3f3;
   background-image: linear-gradient(125deg,black);
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid black;
  width:200px;
  cursor: pointer;
  margin-left: 20.5px;
}

.formulario{
  margin-top: 20%;
  background-color: #f3f3f3;
}

.formulario input, .submit-btn {

background-color: #f3f3f3;
}

.container-uno h1{
  font-size: 3rem;
  color:red;
  margin-top: -20%;

}

.h1-uno{
  margin-left: 50%;
}

.position-relative .texto-uno{
  color:red;
}

.image-container {
  position: relative;
  display: inline-block;
  
 
}

.image-text h1{
  margin-left: -30%;
}

.image-text h7{
  margin-left: -77%;
}

.image-text{
  margin-left: -10%;
}



.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.image-text h2 {
  font-size: 2em;
  margin: 0;
}

.image-text p {
  font-size: 1em;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.image-text h7 {
  font-size: 1.5em; /* el tamaño de la fuente es 1.5 veces el tamaño de la fuente de la etiqueta padre */
}

.image-text h1 {
  font-size: 2.5em; /* el tamaño de la fuente es 2.5 veces el tamaño de la fuente de la etiqueta padre */
}

.navbar-nav .nav-link {
  margin-right: 0;
}

/* Default styles */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-text {
  margin-top: 20px;
  text-align: center;
}

.image-container img {
  max-width: 100%;
}

/* boton */
@media only screen and (max-width: 1000px) {
  .image-text {
    display:inline;
  }
}

.uno{
    color: #7b6c63;
    
}

.dos{
  margin-right: -40px;
}

.tres{
  margin-left: -90% ;
}

/* Footer*/

.text-carrusel{
  margin-top: 3%;
  text-align: center;
}

.color{
  color: #5e5e5e;
}

.recent-post{
  margin-top: 30%;
}

.recent{
  margin-top: 4%;
}
